!!!
%html
  %head    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/    
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/    
%body{:bgcolor => "#eeeeee"}
  %nav
    .nav-wrapper.red.darken-4.navtop
      %a.brand-logo{:href => "#"} Contrataciones Públicas
  .container.titlelist
    .row
      %h3 Registros Publicados      
      .waves-effect.waves-light.btn.linkw= link_to 'Crear Nuevo', new_contract_path
      .waves-effect.waves-light.btn.linkw= link_to 'Salir', dashboard_path
  - @contracts.each do |contract|
    .container.formtop2.center-align
      .row      
        .col.s12.m6
          %h6.red-text.text-darken-4= contract.titulo
        .col.s4.m2
          .waves-effect.waves-light.btn.teal.darken-3.linkw= link_to 'Mostrar', contract          
        .col.s4.m2          
          .waves-effect.waves-light.btn.yellow.darken-1.linkw= link_to 'Editar', edit_contract_path(contract)
        .col.s4.m2
          .waves-effect.waves-light.btn.red.darken-4.linkw= link_to 'Borrar', contract, method: :delete, data: { confirm: '¿Esta Seguro?' }         
    %script{:src => "js/jquery-3.2.1.min.js", :type => "text/javascript"}
    %script{:src => "js/materialize.min.js", :type => "text/javascript"}
    :javascript
      $('#textarea1').val('New Text');
      $('#textarea1').trigger('autoresize');





