!!!
%html
  %head   
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/      
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/
%body{:bgcolor => "#eeeeee"}
  %nav
    .nav-wrapper.red.darken-4.navtop
      %a.brand-logo{:href => "#"} Contrataciones Públicas
  .container.titlelist
    .row
      %h3 Nuevo Registro Creado
      
.container
  .row
    %p#notice= notice
    .waves-effect.waves-light.btn.linkw= link_to 'Volver', contracts_path
    .col.s12.m10.offset-m1.grey.lighten-2.formtop3
      %h5.red-text.text-darken-4= @contract.titulo
      %p= @contract.descripcion
      .waves-effect.waves-light.btn.red.darken-4.linkw.lang= link_to 'Consultar', @contract.document.url, target: '_blank'







